{% extends "layout.html" %}
{% block body %}
  <h2>Register A New User</h2>
  {% if form.error %}<p class=error><strong>Error:</strong> {{ form.error }}
  {% endif %}
  <form action="{{ url_for('add_user') }}" method=post>
  {{ form.hidden_tag() }}
    <dl>
      <dt>{{ form.email.label }}
      <dd>{{ form.email }}
      <dt>{{ form.password.label }}
      <dd>{{ form.password }}
      <dt>{{ form.confirm.label }}
      <dd>{{ form.confirm }}
      <dt><p></p>
      
    </dl>
    
    <dl>
      
      <dt>Additional Info:
      <dt><p></p>
      <dt>{{ form.Name.label}}
      <dd>{{ form.Name }}
      <dt>{{ form.Nickname.label }}
      <dd>{{ form.Nickname }}
      <dt>{{ form.VCS_Username.label }}
      <dd>{{ form.VCS_Username }}
      <dt>{{ form.VCS_Password.label }}
      <dd>{{ form.VCS_Password }}
    </dl>
    
    <i>Fields marked with * are mandatory</i>
    <dd>{{ form.submit }}
    
    
  </form>
{% endblock %}
