{% extends "layout.html" %}
{% block hellowombat %}
<div class="hellowombat">

    <h2>hello,</h2>
    <p>welcome to Wombat. Wombat is an Asset Management System designed for easy access to
    assets contained in a repository. So, you don't have to go through the same routine of
    pulling from a repository again and again, to view assets. The Wombat uses a simple UI
    for access to the repository and allows modification without altering the repository.
    
    The Wombat is currently installed, please login</p>

</div>
{% endblock%}
