{% extends "layout.html" %}
{% block body %}
<p class="know_more"><span>Know more,</span></p>
<p>Wombat is an Asset Management System. What does that mean? It means people like game dev artists who don't want to be involved in the backend stuff, like
handling server requests or pushing or pulling from repositories or who don't know how to do so, can use wombat as a web based tool to do it for them.
It is important to keep things simple so that further development can be done on the same and people can use it intuitively. The older copy of wombat developed
by Kai Blin can be found <a href="#">here</a></p>
<p>Wombat is based on the following:</p>
<ul>
  <li><a href="#">Flask</a></li>
  <li><a href="#">SqlAlchemy</a></li>
  <li><a href="#">PySvn</a></li>
  <li><a href="#">Python</a></li>      
</ul>
  

  {% endblock %}

