<!doctype html>
<html>
    <head>
<title>Wombat</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
        
    <div class="header">
        <div class="logo">
            <a href="{{ url_for('show_entries') }}"><p>W<span>o</span>mbat</p></a>
        </div>
            <div class="admin">
                {% if not session.logged_in %}
                <a class="button" href="{{ url_for('login') }}">login</a>
                {% else %}
                <a class="button" href="{{ url_for('logout') }}">logout</a>
                {% endif %}
            </div>

        </div>

        <div class="content">

            <div class="nav">
                {% if session.logged_in %}
                {% block navigation %}
                {% endblock%}
                {% endif %}
            </div>
            <div class="legal">

                {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
                
            </div>

        </div>

</body>
</html>
