<!doctype HTML>
<head>
<title>Wombat</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="page">
        <div class="header">

            <div class="logo">
                <h1>Wombat AMS</h1>
            </div><!-- logo ends here-->

            <div class="account">
                {% if not session.logged_in  %}
                <a href="{{ url_for('login')}}">Log in</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Log out</a>
                {% endif %}
            </div><!-- account ends here-->

        </div><!-- header ends here -->

        <div class="notification">
            {% for message in get_flashed_message() %}
            <div class="flash">
                {{ message }}
            </div>
            {% endfor %}
        </div><!-- notification ends here-->

        <div class="work_area">
            {% if session.logged_in %}
            
            <div class="nav">
            </div><!--nav ends here-->
                
            <div class="legal">
                {% block legal %}
                {% endblock %}
            </div><!--legal ends here-->
            
            {% else %}
            {% block hellowombat %}
            {% endblock %}
            {% endif %}

        </div><!-- work area ends here-->

        <div class="footer">
        </div><!-- footer ends here-->

    </div><!--page ends here-->
</body>
</html>
