<!doctype html>
<html>
    <head>
      <title>Wombat</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
      <div class="header">
        <div class="logo">
            <a href="{{ url_for('server_status') }}"><p>W<span>o</span>mbat</p></a>
            
        </div>
            <div class="admin">
                {% if not session.logged_in %}

                <a class="button" href="{{ url_for('login') }}">login</a>
                {% else %}
                {% print session.username %}              
                <a class="button" href="{{ url_for('logout') }}">logout</a>
                <a class="button" href="{{ url_for('account_settings') }}">Account Settings</a>
                {% endif %}
            </div>

      </div><!--header ends here -->



        <div class="content">
            <div class="nav">
                {% if session.logged_in %}
                {% block navigation%}
                {% endblock %}
                
                {% block mail%}
                {% endblock %}
                
                {% endif %}                  
          </div>
            
            <div class="legal">

                {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
                {% endfor %}
                

                {% block body %}
                           
                {% endblock %}
                
                {% block welcome%}{% endblock %}
                
                {% block server_status %}{% endblock %}
                
            </div>
         </div><!-- content ends here -->


        
        <div class=footer>
        <ul>
         <li><a href="http://www.worldforge.org">WorldForge</a></li>
         <li><a href="{{ url_for('know_more') }}">Wiki</a><li>
         <li><a href="http://www.github.com/DarkSector/wombat"><li>Source</li></a></li>
         <li><a href="{{ url_for('license') }}">Licensing</a><li>
        </ul>
        <ul>
        <li>Wombat  2011 - Pronoy Chopra - Kai Blin - <a href="http://www.worldforge.org">Worldforge.org</a></li>
        </ul>
        </div>
        

</body>
</html>
