{% extends "layout.html" %}
{% block navigation %}
  {% if session.logged_in %}
  <ul>

      <li><a class="button" href=" {{ url_for('repository_viewer') }} ">Repository</a></li>      
        <ul>
            <li><a class="button" href="{{ url_for('server_status') }}">Server Status</a></li>
            <li><a class="button" href="">Look & Feel</a></li>
        </ul>
      <li><p></p> </li>
      <li><a class="button" href=" {{ url_for('object_viewer') }} ">3D Viewer</a></li>    
      
      <li><a class="button" href=" {{ url_for('workbench') }} ">Workbench</a></li>
      <li><a class="button" href=" {{ url_for('status_view') }} ">Status</a></li>
      <li><a class="button" href=" {{ url_for('mail') }} ">Mail</a></li>
      
  </ul>
  {% endif %}
{% endblock %}
