{% extends "layout.html" %}

{% block welcome %}
{% if serverdict['first_view'] %}
<p class="welcome"><span>hello,</span></p>
<p>Welcome to Wombat. Wombat is an Asset Management System created to provide an easier user interface to an svn repository. It's created using
flask and SQLAlchemy. To get started, <a href="{{ url_for('add_user')}}">register yourself</a> with Wombat and explore its cool features. If you've already registered try<a href="{{ url_for('login') }}"> logging in here</a></p>
<ul>
    <a href="{{ url_for('add_user') }}"><li>Great! I am sold, where do I register?</li></a>
    <a href="{{ url_for('know_more') }}"><li>No wait, wombat is a what?<li></a>
    <a href="{{ url_for('why') }}"><li>Why was this thing created?</li></a>
    <a href="{{ url_for('license') }}"><li>Woah! hold on, this looks fishy. Where do I find its source code?</li></a>
</ul>
{% endif %}
{% endblock %}


{% block server_status %}

    <div class=serverstatus>
    <h3>Server Status:</h3>
    <table>
    <tr>
    <td><strong>Repository URL</strong></td>
    <td class=serverinfo>{{ serverdict['url_out'] }}</td>
    </tr>
    <tr>
    <td>Revision</td>
    <td class=serverinfo>{{ serverdict['revision'] }}</td>
    </tr>
    <tr>
    <td>Size</td>
    <td class=serverinfo>{{ serverdict['fileSize'] }}</td>
    </tr>
    <tr>
    <td>Number of files</td>
    <td class=serverinfo>{{ serverdict['fileLength'] }}</td>
    </tr>
    <tr>
    <td>Number of folders</td>
    <td class=serverinfo>{{ serverdict['folderCount'] }}</td>
    </tr>

    </table>
    </div>
{% endblock %}

  
  {% block navigation %}
  {% if session.logged_in %}
  <ul>
      
      <li><a href=" {{ url_for('settings') }} ">Settings</a></li>
      
  </ul>
  {% endif %}
{% endblock %}
