{% extends "layout.html" %}

{% block welcome %}
{% if config['FIRST_VIEW'] and not session.logged_in %}
<p class="welcome"><span>hello,</span><img src = {{ url_for('static', filename='images/Wombat.png') }}></p>
<p>Welcome to Wombat. Wombat is an Asset Management System created to provide an easier user interface to an svn repository. It's created using
flask and SQLAlchemy. To get started, <a href="{{ url_for('add_user')}}">register yourself</a> with Wombat and explore its cool features. If you've already registered try<a href="{{ url_for('login') }}"> logging in here</a></p>
<ul>
    <li><a href="{{ url_for('add_user') }}">Great! I am sold, where do I register?</a></li>
    <li><a href="{{ url_for('know_more') }}">No wait, wombat is a what?</a></li>
    <li><a href="{{ url_for('why') }}">Why was this thing created?</a></li>
    <li><a href="{{ url_for('license') }}">Woah! hold on, this looks fishy. Where do I find its source code?</a></li>
</ul>
{% endif %}
{% endblock %}


{% block server_status %}
    
    <div class=serverstatus>
    <h3>Server Status:</h3>
    <table>
    <tr>
    <td><strong>Repository URL</strong></td>
    <td class=serverinfo>{{ serverdict['url_out'] }}</td>
    </tr>
    <tr>
    <td>Revision</td>
    <td class=serverinfo>{{ serverdict['revision'] }}</td>
    </tr>
    <tr>
    <td>Size</td>
    <td class=serverinfo>{{ serverdict['fileSize'] }}</td>
    </tr>
    <tr>
    <td>Number of files</td>
    <td class=serverinfo>{{ serverdict['fileLength'] }}</td>
    </tr>
    <tr>
    <td>Number of folders</td>
    <td class=serverinfo>{{ serverdict['folderCount'] }}</td>
    </tr>

    </table>
    </div>
    
{% endblock %}

  

{% block navigation %}
  {% if session.logged_in %}
  <ul>

      <li><a class="button" href=" {{ url_for('server_status') }} ">Repository</a></li>      
        <ul>
            <li><a class="button" href="{{ url_for('server_status') }}">Server Status</a></li>
            <li><a class="button" href="{{ url_for('navigator') + '?path=/' }}">Navigator</a></li>
        </ul>
      <li><p></p> </li>
      <li><a class="button" href=" {{ url_for('settings') }} ">Settings</a></li>      
      <li><a class="button" href=" {{ url_for('workbench') }} ">Workbench</a></li>
      <li><a class="button" href=" {{ url_for('status_view') }} ">Status</a></li>
      {% if session.logged_in and session.username == "admin@worldforge.org" %}
        <li><a class="button" href=" {{ url_for('mail') }} ">Mail</a></li>
      {% endif%}
      
  </ul>
  {% endif %}
{% endblock %}
